/*body {
     margin: 0;
    overflow: hidden;
    background: #ccc; 
    padding: 0.5em;
    font-family: Leelawad;
    background-image: linear-gradient(#3535c5,#000000 );
    background-repeat: no-repeat;
   background-size: 100%; 
  }*/

  .toolbar {
    width: 50px;
    height: 100%;
    /*background: #ccc;*/
    padding: 5px;
    position : absolute;
    top:5;
    right:0;
    z-index:10;
  }
  .slider-wrapper {
  display: inline-block;
  /*width: 20px;*/
  height: 150px;
  padding: 0;
}
  input[type="color"] {
    width: 50%;
    margin-top: 40px;
    display: block;
    
  }
  input[type="range"] {
    width: 100%;
    margin: 0 auto;
    display: block;
    
   /* margin-left:1em;*/
  }
   .output {
     position: relative;
     bottom: 5px;
   }
   #canvas{ 
    height:100%;
   }

   #jakob, #clear, #save, #gomme, #draw{
    width: 50%;
    margin-top: 40px;
    display: block;
    
   }
/* #clear{
  float : left;
  width:50%
}
#save{
  float : right;
  width:50%
} */

