body {
    margin: 0;
    overflow: hidden;
    background: #ccc;
  }
  .toolbar {
    width: 150px;
    height: 100px;
    background: #ccc;
    padding: 5px;
    position : absolute;
    top:5;
    right:0;
    z-index:10;
  }
  input[type="color"], button {
    width: 50%;
    margin: 20px auto;
    display: block;
  }
  input[type="range"] {
    width: 50%;
    margin: 0 auto;
    display: block;
   /* margin-left:1em;*/
  }
   .output {
     position: relative;
     bottom: 5px;
   }
   #canvas{ 
height:100%;
   }

   button{
     margin-top:20px;
   }
/* #clear{
  float : left;
  width:50%
}
#save{
  float : right;
  width:50%
} */