  .toolbar {
    width: 10%;
    height: 80%;
    /*background: #ccc;*/
    padding: 5px;
    position : absolute;
    top:5;
    right:0;
    z-index:10;
  }
  .slider-wrapper {
  display: inline-block;
  /*width: 20px;*/
  height: 150px;
  padding: 0;
}
  input[type="color"] {
    width: 50%;
    margin-top: 40px;
    display: block;
    
  }
  input[type="range"] {
    width: 100%;
    margin: 0 auto;
    display: block;
    
   /* margin-left:1em;*/
  }
   .output {
     position: relative;
     bottom: 5px;
   }

form{
  margin:0
}
   #jakob, #clear, #gomme, #draw, #info{
    width: 50%;
    margin-top: 40px;
    display: block;
    
   }
   #btn-save{
     display:flex;
     justify-content:center;
    /*width: 20%;*/
    margin: 10px 35% 0px 35%; 
     border : 2px #fff solid;
     border-radius:10px;
     color:#fff;
   }
   #btn-save > a {
   margin:2%;
  }
   #page-content-wrapper{
     height:75%;
   }
   #canvas-container{
 
    width:90%;
    height:100%;
    }
/* #clear{
  float : left;
  width:50%
}
#save{
  float : right;
  width:50%
} */

@media screen and (max-width: 750px) {
  #btn-save{
      
    margin: 10px 25% 0px 25%; 
  }


}
@media screen and (min-width: 800px) and (max-width:950px) {
 
  #page-content-wrapper{
    height:85%;
  }
}
