
@font-face {
    font-family: Aileron;
    src: url("../font/Ailerons-Typeface.otf") format("opentype");
}

@font-face {
    font-family: Leelawad;
    src: url("../font/leelawad.ttf") format("truetype");
}

#burger{
margin: 3% 0 0 3%;
}

a > img {
    margin-left: 5px;
}

#mySidenav>a:first-child{
    margin-top:30%;
}

#accueil, #histoire {
    background-color: #681BAE;
    padding: 0.5em;
    font-family: Leelawad;
}


#btn_accueil{
    display: flex; 
    justify-content: center;
    margin: 0 33.3%;
}

.btns > a > img {
    background-color: green;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btns {
    margin: 0 13%;
}

p {
    color: white !important;
}

.p-accueil{
    text-align: center;
    padding: 0 13% 0 13%;
    font-family: Leelawad;
    
}

h1{
   margin-bottom: 3rem !important;
    margin-top: 3rem !important;
    text-align: center;
    color: white !important;
    font-family:'Aileron' !important;
    font-size: 2.2em !important;
    
}

.h4, h4{
    
    font-size: 1.1rem !important;
}


.sidebar-nav{
    text-align: center;
}

#burger{
    display: flex;
}

/*             MEDIA QUERIES                            */


@media screen and (max-width: 750px) {
    #btn_accueil{
        
        margin-top: 5em;
    }


}






/**********************************************/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image:linear-gradient(#4373C4, #2FE36A);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }








