
@font-face {
    font-family: Aileron;
    src: url("../font/Ailerons-Typeface.otf") format("opentype");
}

@font-face {
    font-family: Leelawad;
    src: url("../font/leelawad.ttf") format("truetype");
}

body{
    padding: 0 !important;
    margin: 0 !important;
}

#mySidenav > a > span {
    pointer-events: none;
}

.bande{
    background-color: white;
    height: 1.5px;
    width: 50%;
    margin: 0 25% 0 25%;
}


#reseau-soc {
    margin: 15.25em 0 0 39%;
    display: flex;
}

#reseau-soc>a:first-child{
    margin-top: -1.5%;
}

#reseau-soc > a{
    padding: 3px;
}

.img-invert{
    filter: invert(100%);
}

#burger{
    margin: 3% 0 0 3%;
    background-color: #5FC9A2;
    border-radius: 100%;
    background-image: url("../contents/burger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 40px;
    height: 40px;
    border:white 2px solid;
}

.line-burger{
    text-align: center;
    margin: -30px 33.3% -30px 33.3%;
    width: 33%;
    filter: invert(100%);
    height: 61px;
}

#line-accueil{
    text-align: center;
    margin: 0 33.3% 0 33.3%;
    width:33%;
    filter:invert(100%);
}


.body-head{
    width: 100%;
    height: 3em;
    background-image: linear-gradient(to right, #48D8BC, #7DB783);
    margin-top: -3%;
    color: white;
    text-align: center;
    padding: 1em 0 1em 0;
}

a > img {
    margin-left: 8%;
    margin-right: 7%;
}

#mySidenav>a,.body-head {
    font-family:'Aileron' !important;
}

#propos{
    background-image:  url("../contents/fond.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Leelawad;
}

#merci > #page-content-wrapper{
    margin: 65% 4% 0 4%;
}

#merci {
    background-image:  url("../contents/fond-merci.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.p-propos {
    margin: 0 5% 0 5%;
}

#mySidenav>a:nth-child(0n+2){
    margin-top:35%;
}

.container-fluid > .bande {
    margin: 12% 40%;
    width: 20%;
    height: 3px;
}

#accueil, #histoire{
    padding: 0.5em;
    font-family: Leelawad;
    background-image:  url("../contents/fond.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#dessin {
    background-image: linear-gradient(#3535c5,#000000 );
    padding-top: 0.5em;
    font-family: Leelawad;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

#btn_accueil{
    display: flex; 
    justify-content: center;
    margin: 0 33.3%;
}

.btns > a > img {
    background-color: green;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btns {
    margin: 0 13%;
}

p {
    color: white !important;
}

p:last-child{
    margin-bottom: 15%;
}

.p-histoire{
    margin:5% 5% 0 5%;
}

.p-accueil{
    text-align: center;
    padding: 0 13% 0 13%;
    font-family: Leelawad;
    
}

.p-merci{
    text-align: center;
    padding: 6% 2% 0 2%;
    font-family: Leelawad;
    font-size: 20px;
}

h1{
   
    margin-top: 3rem !important;
    text-align: center;
    color: white !important;
    font-family:'Aileron' !important;
    font-size: 2.2em !important;
    
}

h3{
    margin: 0.1rem 20% 0 20%!important;
    text-align: center;
    color: white !important;
    font-family:'Aileron' !important;
    font-size: 1.2em !important;
}

.h4, h4{
    
    font-size: 1.1rem !important;
}


.sidebar-nav{
    text-align: center;
}



/*             MEDIA QUERIES                            */


@media screen and (max-width: 750px) {
    #btn_accueil{
        
        margin-top: 2em;
    }


}







/**********************************************/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image:linear-gradient(#4373C4, #2FE36A);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: 0.3s;
    /*text-align: center;*/
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  @media screen and (min-width: 500px) and (max-width:950px) {
    .body-head{
    margin-top: -2%;
    }


}