.test {
	/* position:absolute;
	width: 100px;
	height:auto;
    top:156px;
	left: 130px;
	display: block; */
	width:200px;
}
#testback{
	background-image: url('../contents/testback.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}